<h1>Register</h1>
<form method="POST" data-netlify="true" name="contact">
  <label>
    name:
    <input type="text" name="name" required />
  </label>
  <label>
    Email:
    <input type="email" name="email" required />
  </label>

  <textarea name="feedback" id="" cols="30" rows="10"></textarea>
  <button>Submit</button>
</form>
