---
import PagesLayout from "../layouts/PagesLayout.astro";
---

<PagesLayout>
  <main class="mt-16">
    <h4 class="text-teal-300 text-lg">Hi, My name is</h4>
    <h2 class="text-5xl mt-4">Armindo Correia "agcpomps"</h2>
    <p class="mt-4 max-w-sm">
      I'm a fulstack engineer and data science ai aspirant. Currently working in
      databases centric applications at GPIST
    </p>
  </main>
</PagesLayout>
