---
import PagesLayout from "../layouts/PagesLayout.astro";
import {getCollection} from "astro:content"
const blogPosts = await getCollection("blog")
---

<PagesLayout>
  <main class="mt-16">
    <div>
      <h4 class="text-teal-300 text-lg font-semibold tracking-widest">
        Hi, My name is
      </h4>
      <h2 class="text-6xl mt-4 font-bold text-slate-400">
        Armindo Correia "agcpomps"
      </h2>
      <p class="mt-4 mb-8 max-w-sm">
        I'm a fulstack engineer and data science ai aspirant. Currently working
        in databases centric applications at GPIST
      </p>

      <a
        href="/contact"
        class="bg-teal-600 text-white font-semibold py-2 px-4 rounded"
        >Give me a shot</a
      >
    </div>
    <section>
      <h2>Latest posts</h2>
      {
        blogPosts.map(post => (
          <h3>{post.data.title}</h3>
          <p>{post.data.description}</p>
          <a href={post.slug}>Read Post</a>
        ))
      }
    </section>
  </main>
</PagesLayout>

<style>
  main {
    margin: 0 auto;
    max-width: 1024px;
  }
</style>
