---
import HeaderLink from "./HeaderLink.astro";
---

<header class="flex justify-between items-center py-8 content-center">
  <h2><HeaderLink href="/">AGCPOMPS</HeaderLink></h2>
  <nav class="flex gap-3 justify-between items-center">
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/portfolio">Portfolio</HeaderLink>
    <HeaderLink href="about">About</HeaderLink>
    <a class="px-4 py-2 border border-teal-300">Resumé</a>
  </nav>
</header>
