---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-sky-900 text-slate-200">
    <div class="custom-container mx-auto max-w-sm">
      <Header />
      <slot />
    </div>
  </body>
</html>
